section {
    border: 10px solid black;
    width: 500px;
    height: 600px;
    border: 10px solid rgb(189, 25, 25);
    display: auto;
}

#box1 {
    border: 10px solid black;
    width: 60px;
    height: 60px;
    border: 10px solid black;
}